body{
background-color:#000;
color:#fff;
font-family:verdana, tahoma, arial, sans-serif;
font-size:10pt;
}

.break-float{
clear:both;
}


#wrapper{
width:990px;
margin:auto;
background-image:url(images/bg-header.jpg);
}

#header{
height:400px;
background-image:url(images/logo.png);
background-repeat:no-repeat;
background-position:center top;
box-shadow:0px 5px 10px rgba(10,10,10,0.8);
margin-bottom:15px;
}

#header #lalangdocienne{
position:relative;
left:300px;
top:114px;
box-shadow:0px 4px 8px rgba(50,50,50,0.8);
}

#portal-column-one{
float:left;
width:245px;
}

#portal-column-content{
float:right;
width:700px;
margin-right:8px;
min-height:500px;
padding:1em;
border-radius:18px;
background-color:rgba(45,28,23,0.7);


}

#footer{
width:990px;
height:200px;

}

